.DS_Store
.bash_history
.bashrc
.ssh/
.nova/
node_modules/*
package-lock.json
backup/
site/.htaccess
site/assets/*
!site/assets/tpl
site/assets/tpl/{name}/node_modules/
site/connectors/*
site/core/*
!site/core/components/
site/core/components/*
!site/core/components/{name}/
site/pflege/*
site/upload/*
site/config.core.php
site/ht.access
site/index.php
/.modmore.com.key.dev
/assets/components
config.core.php
/connectors
/core
/ht.access
/index.php
/pflege
